body {
    background-color: #FFFFF8;
    color: #111111;
    margin: 0;
    padding: 0;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /* font-family: FreeSans, sans-serif; */
    text-align: left;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 50em;
    margin: 0 auto;
}

.header {
    padding: 1em 1.25em;
}

.content {
    padding: 1em 1.25em;
}

ul#inline {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul#inline li {
    display: inline;
    padding: 1em;
}
