	<h2>Full CV</h2>

	<h3>Employment</h3>

	<table cellspacing="10">
	  <tr><td>2023&nbsp;&mdash;&nbsp;</td><td>Senior Research Software Engineer, University of Birmingham, <a href="https://intranet.birmingham.ac.uk/it/teams/infrastructure/research/index.aspx">Advanced Research Computing</a></td></tr>
	  <tr><td>2017&nbsp;&mdash;&nbsp;2022</td><td>Postdoc, University of Birmingham, School of Physics and Astronomy<br />
	      Group: <a href="http://www.birmingham.ac.uk/research/activity/physics/astronomy/solar-and-stellar/index.aspx"><em>Solar and Stellar Physics</em></a></td></tr>
	  <tr><td>2012&nbsp;&mdash;&nbsp;2016</td><td>Postdoc, Institut f&uuml;r Astrophysik G&ouml;ttingen<br />
	      Group: <a href="http://www.mps.mpg.de/helioseismology-asteroseismology"><em>Physics of the interior of the Sun and Sun-like stars</em></a></td></tr>
	</table>

	<h3>Education</h3>

	<table cellspacing="10">
	  <tr><td>2008&nbsp;&mdash;&nbsp;2012</td><td>PhD in Astronomy, <a href="http://www.cam.ac.uk">University of Cambridge</a>
	      <br />Thesis: <a href="https://arxiv.org/abs/1207.5972"><em>Quasi-stars and the Sch&ouml;nberg&mdash;Chandrasekhar limit</em></a></td></tr>
	  <tr><td>2007&nbsp;&mdash;&nbsp;2008</td><td>MSc in Astrophysics, <a href="http://www.ucl.ac.uk">University College London</a></td></tr>
	  <tr><td>2003&nbsp;&mdash;&nbsp;2006</td><td>BSc (Hons) in Theoretical Physics, <a href="http://www.uct.ac.za">University of Cape Town</a></td></tr> 
	</table>

	<h3>Scholarships &amp; Awards</h3>
	<table cellspacing="10">
	  <tr><td><b>Cambridge</b></td><td>2012</td><td>Emsley Prize (Best science postgraduate at St Edmund's College)</td></tr>
	  <tr><td /><td>2008-2011</td><td>St Edmund's College Commonwealth and Overseas Scholarship</td></tr>
	  <tr><td><b>Cape Town</b></td><td>2006</td><td>UCT Council Honours Scholarship</td></tr>
	  <tr><td /><td /><td>University Research Scholarship</td></tr>
	  <tr><td /><td /><td>Joseph Stone Postgraduate Bursary</td></tr>
	  <tr><td /><td>2003-2005</td><td>Science Faculty Scholarship</td></tr>
	</table>

	<h3>Teaching</h3>
	<h4>Once offs</h4>
	<table cellspacing="10">
	  <tr><td><a href="https://warwick.ac.uk/fac/sci/physics/research/cfsa/stfc_summer_school/">
		Solar-Stellar Connection STFC Summer School</a></td><td>Aug 2020</td></tr>
	  <tr><td><a href="http://cococubed.asu.edu/mesa_summer_school_2018/">MESA Summer School</a></td><td>Aug 2018</td></tr>
	  <tr><td>Max Planck Institute for Solar System Research IMPRS Autumn Retreat</td><td>Oct 2015</td></tr>
	  <tr><td>TIFR Solar and Stellar Astrophysics Winter School</td><td>Nov 2014</td></tr>
	</table>

	<h4>Recurring</h4>
	<table cellspacing="10">
	  <tr><td><b>Birmingham</b></td><td>The Life and Death of Stars</td><td>2021-2022</td></tr>
	  <tr><td></td><td>Third Year Group Studies (Exoplanets &amp; Asteroseismology)</td><td>2017-2022</td></tr>
	  <tr><td><b>G&ouml;ttingen</b></td><td>Numerical Experiments in Stellar Astrophysics</td><td>2013-2016</td></tr>
	  <tr><td></td><td>Data Analysis in Astrophysics</td><td>2013-2016</td></tr>
	  <tr><td></td><td>Physics of the Interior of the Sun and Stars</td><td>2013-2016</td></tr>
	  <tr><td><b>Cambridge</b><td>First-year NatSci maths supervisor</td><td>2009-2012</td></tr>
	  <tr><td><td>Model answers for DAMTP third-year numerical summer projects</td><td>2010-2011</td></tr>
	  <tr><td><b>Cape Town</b><td>First-year laboratory demonstrator</td><td>2006</td></tr>
	</table>


	<h3>Supervisees</h3>
	<table cellspacing="10">
	  <tr><td><b>Birmingham</b></td><td>Jun-Jul 2017</td><td>Three-week undergraduate summer intern</td></tr>
	  <tr><td><b>G&ouml;ttingen</b></td><td>Mar-Sep 2015</td><td>Six-month masters project student</td></tr>
	  <tr><td /><td>Mar-Sep 2014</td><td>Six-month fourth-year bachelors project student</td></tr>
	</table>


	<h3>Presentations</h3>
	<h4>Invited conference talks</h4>
	<table cellspacing="10">
	  <tr><td><a href="https://indico.cern.ch/event/743355/page/16619-splinter-sessions">Splinter Session</a> at
	      <a href="https://indico.cern.ch/event/743355/">Extreme Precision Radial Velocities IV</a></td><td>Mar 2019</td></tr>
	  <tr><td><a href="http://www.iastro.pt/research/conferences/spacetk16/">
		Seismology of the Sun and Distant Stars 2016 (TASC2/KASC9)</a></td><td>Jul 2016</td></tr>
	  <tr><td>Advances in Seismology: A Dialogue Across Disciplines</td><td>Dec 2015</td></tr>
	  <tr><td><a href="https://web.archive.org/web/20190211135137/http://astronomy2015.org/">
		IAU General Assembly XXIX</a> <a href="https://www.iau.org/science/meetings/past/1144/">Focus Meeting 17</a></td><td>Aug 2015</td></tr>
	</table>

	<h4>Contributed conference talks</h4>
	<table cellspacing="10">
	  <tr><td><a href="https://rsecon23.society-rse.org/">RSECon23</a>
	    (<a href="https://www.youtube.com/watch?v=3R4d2E4m7tU&list=PL27mQJy8eDHmibt_aL3M68x-4gnXpxvZP&index=6">YouTube</a>)</td><td>Sep 2023</td></tr>
	  <tr><td><a href="https://www.ast.cam.ac.uk/meetings/2022/stars.mark.80th.birthday.peter.eggleton">Stars, to mark the 80th birthday of Peter Eggleton</a></td><td>Aug 2022</td></tr>
	  <tr><td><a href="https://events.au.dk/mwgaia/">MW-Gaia Workshop</a></td><td>Jun 2022</td></tr>
	  <tr><td><a href="https://platomissionconference2021.iaa.es/">PLATO Mission Conference</a></td><td>Oct 2021</td></tr>
	  <tr><td><a href="https://nam2021.org/science/parallel-sessions/details/2/109">TESS Parallel Session</a> at
	      <a href="https://nam2021.org/">UK National Astronomical Meeting</a></td><td>Jul 2021</td></tr>
	  <tr><td><a href="https://web.mit.edu/tasc5/">TASC5/KASC12 workshop</a></td><td>Jul 2019</td></tr>
	  <tr><td><a href="https://www.tasc3kasc10.com/">TESSting Stellar Astrophysics (TASC3/KASC10)</a></td><td>Jul 2017</td></tr>
	  <tr><td>Stellar Convection, Oscillations and their Relationship (SCORe) 2016</td><td>Oct 2016</td></tr>
	  <tr><td><a href="https://platomission.com/plato-2-0-scientific-conference-announce/">PLATO 2.0 Science Conference</a></td><td>Dec 2014</td></tr>
	  <tr><td>Splinter Session at the Annual Meeting of the German Astronomical Society</td><td>Sep 2014</td></tr>
	  <tr><td>Helioseismology and applications</td><td>Sep 2014</td></tr>
	</table>

	<h4>External institute/research group seminars</h4>
	<table cellspacing="10">
	  <tr><td>Kavli Institute for Theoretical Physics (KITP), UC Santa Barbara</td><td>Sep 2021</td></tr>
	  <tr><td>Centre for Fusion, Space and Astrophysics (CFSA), University of Warwick</td><td>Nov 2018</td></tr>
	  <tr><td>Mullard Space Science Laboratory (MSSL), University College London</td><td>Sep 2018</td></tr>
	  <tr><td>Sydney Institute for Astronomy (SIfA), University of Sydney</td><td>Feb 2016</td></tr>
	  <tr><td>Stellar Astrophysics Centre, University of Aarhus</td><td>Mar 2014</td></tr>
	</table>
