        <p>I'm a research software engineer (RSE) at the University of Birmingham,
        where I support the development of research software following good software practice,
        by implementing it in collaboration with the researchers it serves.
        I also spend about one-third of my time contributing to the management
        of the Research Software Group, including line managing five other RSEs.
        As an RSE, my work varies in organisational and technical detail and
        involves continuously dabbling in new or unfamiliar tools and technologies.</p>

        <p>Before I joined the Research Software Group in Birmingham, I was a
        researcher in <em>asteroseismology</em>: the study of the vibrations
        in distant stars.
        In particular, I tried to make one-dimensional stellar models better
        match observed mode frequencies, be that by better correcting
        <a href="https://ui.adsabs.harvard.edu/abs/2017EPJWC.16002001B">known systematic effects</a>,
        <a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.478.5650M">incorporating predictions from more complicated (but expensive) simulations</a> or
        more effectively fitting the models to the data.
        You can read more about asteroseismology generally in the
        <a href="https://ui.adsabs.harvard.edu/abs/2023A%26G....64.2.30B">review I wrote</a>
        for <em>Astronomy &amp; Geophysics</em>, magazine of the Royal Astronomical Society in 2023.</p>

        <p>I've been a developer of the
        <a href="https://docs.mesastar.org/">Modules for Experiments in
        Stellar Astrophysics (MESA)</a>, a widely used one-dimensional stellar
        evolution program since 2017.  As of early 2023, I'm also
        a subject editor for the <a href="https://joss.theoj.org/">Journal of Open Source Software</a>
        and a <a href="https://carpentries.org/">Carpentries</a> instructor.</p>

        <h2>Contact</h2>
        <ul id="inline"><li>W.H.Ball<!--asdfkljh@gmaail.com--> '@' <!--zorkzork\"\'[{<?-->bham.ac.uk</li></ul>

        <h2>CV</h2>
        <table cellspacing="10">
          <tr><td>2023&nbsp;&mdash;&nbsp;</td><td>Senior Research Software Engineer, University of Birmingham, <a href="https://www.birmingham.ac.uk/research/arc/team">Advanced Research Computing</a></td></tr>
          <tr><td>2017&nbsp;&mdash;&nbsp;2022</td><td>Postdoc, University of Birmingham, School of Physics and Astronomy<br />
              Group: <a href="http://www.birmingham.ac.uk/research/activity/physics/astronomy/solar-and-stellar/index.aspx"><em>Solar and Stellar Physics</em></a></td></tr>
          <tr><td>2012&nbsp;&mdash;&nbsp;2016</td><td>Postdoc, Institut f&uuml;r Astrophysik G&ouml;ttingen<br />
              Group: <a href="http://www.mps.mpg.de/helioseismology-asteroseismology"><em>Physics of the interior of the Sun and Sun-like stars</em></a></td></tr>
          <tr><td>2008&nbsp;&mdash;&nbsp;2012</td><td>PhD in Astronomy, <a href="http://www.cam.ac.uk">University of Cambridge</a>
              <br />Thesis: <a href="https://arxiv.org/abs/1207.5972"><em>Quasi-stars and the Sch&ouml;nberg&mdash;Chandrasekhar limit</em></a></td></tr>
          <tr><td>2007&nbsp;&mdash;&nbsp;2008</td><td>MSc in Astrophysics, <a href="http://www.ucl.ac.uk">University College London</a></td></tr>
          <tr><td>2003&nbsp;&mdash;&nbsp;2006</td><td>BSc (Hons) in Theoretical Physics, <a href="http://www.uct.ac.za">University of Cape Town</a></td></tr> 
        </table>
        <ul id="inline"><li><a href="cv.html">More...</a></li></ul>
        <h2>Publications</h2>
        <ul id="inline">
          <li><a href="publications.html">HTML</a></li>
          <li><a href="http://arxiv.org/a/ball_w_1.html">arXiv</a></li>
          <li><a href="https://ui.adsabs.harvard.edu/#/public-libraries/dgoz862sRCGrUenE3vzwkA">NASA ADS</a></li>
          <li><a href="http://scholar.google.co.uk/citations?hl=en&user=Da5QxeIAAAAJ">Google Scholar</a></li>
          <li><a href="http://orcid.org/0000-0002-4773-1017">ORCID</a></li>
        </ul>
        <h2>Code</h2>
        <p>I lead and contribute to various open source projects.
          Here are some highlights.  You can find more of my projects
          and contributions on
          <a href="https://gitlab.com/warrickball">GitLab</a>
          or <a href="https://github.com/warrickball">GitHub</a>.</p>
        <h3>As lead</h3>
        <dl>
        <dt><a href="https://tomso.readthedocs.io">tomso</a></dt>
        <dd>is a set of Python modules for reading (and sometimes writing) input and output
        from a number of stellar evolution and oscillation codes.</dd>
        <dt><a href="https://warrickball.gitlab.io/AADG3">AADG3</a></dt>
        <dd>simulates light curves of solar-like oscillators.</dd>
        <dt><a href="https://warrickball.gitlab.io/mistery">mistery</a></dt>
        <dd>is a Python module for retrieving data from the
          <a href="http://waps.cfa.harvard.edu/MIST/">MESA Isochrones and Stellar Tracks (MIST)</a>
          database of stellar models.</dd>
        <dt><a href="https://warrickball.gitlab.io/aims3-alpha">AIMS3</a></dt>
        <dd>is a (partial) re-implementation of <a href="https://sasp.gitlab.io/aims/">AIMS</a>,
          which interpolates in a grid of stellar model data (including mode frequencies)
          to determine stars' properties.</dd>
        <dt><a href="https://warrickball.gitlab.io/allium">allium</a></dt>
        <dd>is a Python module that computes eigenfunctions and eigenfrequencies for spheres
          assuming the sound speed is a piecewise constant function.</dd>
        </dl>
        <h3>As contributor</h3>
        <dl>
        <dt><a href="https://docs.mesastar.org">MESA</a></dt>
        <dd>is a widely-used stellar evolution <del>code</del> software instrument.
        I was invited to join the development team in 2017.
        Most of my contributions are to the asteroseismology module.</dd>
        <dt><a href="https://gyre.readthedocs.io">GYRE</a></dt>
        <dd>is a widely-used stellar oscillation code.</dd>
        </dl>

        <h2>Side projects</h2>
        <p>I have a few experimental projects that I chip away at when I find time.</p>
        <dl>
          <dt><a href="https://warrickball.gitlab.io/tess-atlas/">An Atlas of TESS Light Curves</a></dt>
          <dd>shows example TESS light curves of many classes of variable stars.</dd>
          <dt><a href="https://warrickball.gitlab.io/quarto-tufte-book/">A Tufte-like Book with Quarto</a></dt>
          <dd>is an experiment in using <a href="https://quarto.org/">Quarto</a> to create
            a Tufte-like open education resource that renders both as
            a webpage with animated and interactive elements and as a static PDF.</dd>
        <a rel="me" href="https://mas.to/@warrickball" />
